<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="com.pwc.Course" name="cours">
       <property name="courseId" value="101"/>
       <property name="courseName" value="Science"/>
   </bean>

   <bean class="com.pwc.Student" name="student1" autowire="byName"/>
</beans>